#btnsContainer
{
  position: relative;
  text-align: center;
  /*display: inline-block;*/
  /*border: 5px solid black;*/
  width: 80vh;
  /*width: 90%;*/
  /*left: 10vh;*/
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
}
.topBtns
{
  display: inline-block;
  width: 20vh;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 2em;
  text-align: center;
}
.topBtns:hover
{
  border: 3px solid black;
  font-size: 2em;
}
#container
{
  position: relative;
  border: 5px solid black;
  /*margin-top: 10vh;*/
  width: 80vh;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}
.buttons
{
  border: none;
  color: white;
  background-color: black;
  margin: 0;
}
.buttons:hover
{
  color: black;
  background-color: white;
}
.obj
{
  position: absolute;
  border: none;
  color: white;
  background-color: blue;
  margin: 0;
  width: 10%;
  height: 10%;
  top: 45%;
  left: 45%;
}
.obj:hover
{
  color: blue;
  background-color: white;
}
/*.location
{
  position: absolute;
  font-size: 2em;
  top: 0%;
  left: 0%;
}*/
#inventory
{
  position: absolute;
  font-size: 1.5em;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
}
#message
{
  position: absolute;
  font-size: 1.5em;
  top: 95%;
  margin-left: auto;
  margin-right: auto;
}
.up
{
  position: absolute;
  width: 10%;
  height: 10%;
  left: 45%;
}
.right
{
  position: absolute;
  width: 10%;
  height: 10%;
  right: 0%;
  top: 45%;
}
.down
{
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0%;
  left: 45%;
}
.left
{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 45%;
  left: 0%;
}
.center
{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 45%;
  left: 45%;
}
.escape
{
  font-size: 2em;
}
