#container
{
  position: relative;
  margin-top: 10vh;
  width: 80vh;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}
.buttons
{
  border: none;
  color: white;
  background-color: black;
  margin: 0;
}
.buttons:hover
{
  color: black;
  background-color: white;
}
.obj
{
  position: absolute;
  border: none;
  color: white;
  background-color: blue;
  margin: 0;
  width: 10%;
  height: 10%;
  top: 45%;
  left: 45%;
}
.obj:hover
{
  color: blue;
  background-color: white;
}
.location
{
  position: absolute;
  font-size: 2em;
  top: 0%;
  left: 0%;
}
#border
{
  position: absolute;
  border: 5px solid black;
  width: 80vh;
  height: 80vh;
}
#inventory
{
  position: absolute;
  font-size: 1.5em;
  top: %;
  left: 55%;
}
#message
{
  position: absolute;
  font-size: 1.5em;
  bottom: 2%;
  left: 55%;
}
.up
{
  position: absolute;
  width: 10%;
  height: 10%;
  left: 45%;
}
.right
{
  position: absolute;
  width: 10%;
  height: 10%;
  left: 90%;
  top: 50%;
}
.down
{
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0%;
  left: 45%;
}
.left
{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 45%;
  right: 90%;
}
.center
{
  position: absolute;
  width: 10%;
  height: 10%;
  top: 45%;
  left: 45%;
}
